ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #8db420;
  }

  .menu{
    color:rgb(99, 70, 42);
    font-size:medium;
    font-family: Cambria;
  }
  .active {
    background-color: #04AA6D;
  }